parameters:
    level: 5
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    paths:
        - includes
        - bootstrap
        - config
        - wpsprout.php
        - uninstall.php
    excludePaths:
        - includes/Examples/* # Demo code, replaced per-project.
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
